
body{
    background: #FFF3D6;
}
#input-fields {
    width: 300px;
    display: inline;
}
.ui.input{
    display: inline-block;
}


.description {
    margin-right: 10px;
}
.ui.container{
    margin-top: 20px;
}

h1{
    font-family: 'Rouge Script', cursive;
    font-size: 100px;
    color: #262730;
}
#pics-input-2 {
    width: 100px;
}
#pics-container{
    display: inline-block;
    width: 75%;
}
.pic > img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.5);

}
.pic {
    display: inline-block;
    margin: 5px;
    height: 200px;
    width: 200px;
    position: relative;
}
.pic:hover .overlay {
    opacity: 1;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
